.post {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid gainsboro;
    border-radius: 3px;
    margin: 10px 0;
}

.post_rating {
    display: inline-block;
    vertical-align: top;
    max-width: 50px;
    width: 10%;
    font-weight: bold;
    font-size: small;
    text-align: center ;
}

.post_rating__likes-count {
    font-size: medium;
    font-weight: bold;
}

.post_rating__likes-up-arrow {
    width: 15px;
    height: auto;
}

.post_rating__likes-up-arrow__down {
    transform: rotate(180deg);
}

.post_rating__likes-up-arrow:hover,
.post_rating__likes-up-arrow:focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.post_content {
    display: inline-block;
    text-align: left;
    width: 90%;
}

.post_content_top {
    font-size: small;
    font-weight: bold;
}

.post_content_middle {
    padding: 10px 0;
    font-size: large;
    font-weight: bold;
}

.post_content_middle__image {
    max-width: 90%;
}


.post_content_bottom {
    font-size: small;
    font-weight: bold;
}

.post_panel {
    height: 30px;
    background-color: azure;
    box-sizing: border-box;
}

.post_panel_left {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.post_panel_right {
    display: inline-block;
    text-align: right;
    width: 50%;
}

.post__btn {
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 99999px;
    color: white;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    margin-right: 10px;
    padding: 0 10px 0 10px;
}